networks:
  easypanel:
    external: true
    name: easypanel
  internal:
    driver: bridge

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=8000
    expose:
      - "8000"
    networks:
      - internal
      - easypanel
    labels:
      - traefik.enable=true
      - traefik.docker.network=easypanel

      # /api/* -> backend (strip /api antes de chegar no backend)
      - traefik.http.routers.conbank-api.rule=Host(`https://41tech-prisma.phy3nf.easypanel.host`) && PathPrefix(`/api`)
      - traefik.http.routers.conbank-api.entrypoints=web
      - traefik.http.routers.conbank-api.priority=100
      - traefik.http.routers.conbank-api.middlewares=conbank-stripapi
      - traefik.http.middlewares.conbank-stripapi.stripprefix.prefixes=/api
      - traefik.http.services.conbank-api.loadbalancer.server.port=8000

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    expose:
      - "80"
    networks:
      - internal
      - easypanel
    labels:
      - traefik.enable=true
      - traefik.docker.network=easypanel

      # frontend: todo o resto
      - traefik.http.routers.conbank-web.rule=Host(`<HOST>`)
      - traefik.http.routers.conbank-web.entrypoints=web
      - traefik.http.routers.conbank-web.priority=1
      - traefik.http.services.conbank-web.loadbalancer.server.port=80
