networks:
  easypanel:
    external: true
    name: easypanel

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=8000
    expose:
      - "8000"
    networks:
      - easypanel
    labels:
      - "traefik.enable=true"

      # /api/* -> backend, removendo /api antes de chegar nele
      - "traefik.http.routers.prisma-api.rule=Host(`41tech-prisma.phy3nf.easypanel.host`) && PathPrefix(`/api`)"
      - "traefik.http.routers.prisma-api.entrypoints=web,websecure"
      - "traefik.http.routers.prisma-api.tls=true"
      - "traefik.http.routers.prisma-api.middlewares=prisma-stripapi"
      - "traefik.http.middlewares.prisma-stripapi.stripprefix.prefixes=/api"
      - "traefik.http.routers.prisma-api.service=prisma-api"
      - "traefik.http.services.prisma-api.loadbalancer.server.port=8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    expose:
      - "80"
    networks:
      - easypanel
    labels:
      - "traefik.enable=true"

      # frontend em /
      - "traefik.http.routers.prisma-web.rule=Host(`41tech-prisma.phy3nf.easypanel.host`)"
      - "traefik.http.routers.prisma-web.entrypoints=web,websecure"
      - "traefik.http.routers.prisma-web.tls=true"
      - "traefik.http.routers.prisma-web.service=prisma-web"
      - "traefik.http.services.prisma-web.loadbalancer.server.port=80"
