networks:
  easypanel:
    external: true
    name: easypanel

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=8000
    expose:
      - "8000"
    networks:
      - easypanel
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=easypanel"

      - "traefik.http.routers.prisma-api.rule=Host(`41tech-prisma.phy3nf.easypanel.host`) && PathPrefix(`/api`)"
      - "traefik.http.routers.prisma-api.tls=true"
      - "traefik.http.routers.prisma-api.priority=100"

      - "traefik.http.routers.prisma-api.middlewares=prisma-stripapi"
      - "traefik.http.middlewares.prisma-stripapi.stripprefix.prefixes=/api"

      - "traefik.http.services.prisma-api.loadbalancer.server.port=8000"


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    expose:
      - "80"
    networks:
      - easypanel
    labels:
    - "traefik.enable=true"
    - "traefik.docker.network=easypanel"

    - "traefik.http.routers.prisma-web.rule=Host(`41tech-prisma.phy3nf.easypanel.host`)"
    - "traefik.http.routers.prisma-web.tls=true"
    - "traefik.http.routers.prisma-web.priority=1"

    - "traefik.http.services.prisma-web.loadbalancer.server.port=80"

